 <footer class="site-footer custom-border-top" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-4">Promo</h3>
          <a  class="block-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmoj5ZU1_1B0wHYyJpTu4DJj5jT2q-ZB5w-Q&usqp=CAU" alt="Image placeholder" class="img-fluid rounded mb-4">
            <h3 class="font-weight-light text-primary  mb-0">Finding Your Perfect Cycles for This Summer</h3>
            <p>Promo from July 15 &mdash; 25, 2022</p>
          </a>
        </div>
        <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Quick Links</h3>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Shop online</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Shopping cart</a></li>
                <li><a href="#">Store builder</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Mobile commerce</a></li>
                <li><a href="#">Dropshipping</a></li>
                <li><a href="#">Delivery Services</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Point of sale</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Apparles</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">22 B, Bakel Street, Kakkanchery, Calicut, Kerala</li>
              <li class="phone"><a href="tel://23923929210">+9 876 543 210</a></li>
              <li class="email">healcycles@co.in</li>
            </ul>
          </div>

          <div class="block-7">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading">Subscribe</label>
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm btn-primary" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
              class="text-primary">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </div>
  </footer>
<script>
   function searchProducts() {
        let key = document.getElementById('searchKey').value
        console.log(key)
        $.ajax({
            url:'/search-products',
            data:{
                key:key
            },
            method:'post',
            success:(response)=>{
              
            }
        })
    }
</script>
