<div class="custom-border-bottom py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Shop</strong></div>
        </div>
    </div>
</div>

<form id="productFilter">
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-9 order-1">
                    <div class="row align">
                        <div class="col-md-12 mb-5">
                            <div class="float-md-left">
                                <h2 class="text-black h5">Shop All</h2>
                            </div>
                            <div class="d-flex">
                                <div class="dropdown mr-1 ml-md-auto">
                                    <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4"
                                        id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Latest
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                        <a class="dropdown-item" href="#">Men</a>
                                        <a class="dropdown-item" href="#">Women</a>
                                        <a class="dropdown-item" href="#">Children</a>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <select class="btn btn-light dropdown-toggle " aria-label="" name="sort"
                                        id="sortProducts">
                                        <optgroup label="PRICE">
                                            <option value="hl">High To Low</option>
                                            <option value="lh">Low To High</option>
                                        </optgroup>
                                        <optgroup label="NAME">
                                            <option value="az">Name : A to Z</option>
                                            <option value="za">Name : Z to A</option>
                                        </optgroup>
                                        <option selected hidden>Sort</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pdtsss" style="min-height: 100vh;">
                        <div class="row mb-5">
                            {{#each products}}
                            <div class="col-lg-6 col-md-6 item-entry mb-4">
                                <a href="/shop/product/{{this._id}}" class="product-item md-height  d-block">
                                    <img src="/product-images/{{this._id}}0.jpg" alt="Image" class="img-fluid">
                                </a>
                                <h2 class="item-title"><a href="#">{{this.name}}</a></h2>
                                <strong class="item-price">₹{{this.price}}</strong>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="site-block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 order-2 mb-5 mb-md-0">
                    <div class="border p-4 rounded mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <label for="s_sm" class="d-flex">
                                    <input type="checkbox" name="categoryName" id="flexCheckChecked" value=""
                                        class="mr-2 mt-1" checked hidden>
                                    </span>
                                </label>
                            </li>
                            <li>
                                <label for="s_sm" class="d-flex">
                                    <input type="checkbox" name="categoryName" value="BIKES" class="mr-2 mt-1">
                                    <span class="text-primary pt-1">Bikes</span>
                                </label>
                            </li>
                            <li>
                                <label for="s_sm" class="d-flex">
                                    <input type="checkbox" name="categoryName" value="APPARELS" class="mr-2 mt-1">
                                    <span class="text-primary pt-1">Apparels</span>
                                </label>
                            </li>
                            <li>
                                <label for="s_sm" class="d-flex">
                                    <input type="checkbox" name="categoryName" value="ACCESSORIES" class="mr-2 mt-1">
                                    <span class="text-primary pt-1">Accessories</span>{{!-- <span
                                        class="text-black ml-auto">(2,220)</span> --}}
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="border p-4 rounded mb-4">
                        <div class="mb-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" id="price" name="price" value="5000">
                                <label class="form-check-label text-dark" for="">
                                    Under ₹5000
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="price" value="10000">
                                <label class="form-check-label text-dark" for="">
                                    Under ₹10000
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="price" value="20000">
                                <label class="form-check-label text-dark" for="">
                                    Under ₹20000
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="price" value="30000">
                                <label class="form-check-label text-dark" for="">
                                    Under ₹30000
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="price" value="40000">
                                <label class="form-check-label text-dark" for="">
                                    Under ₹40000
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="price" value="50000">
                                <label class="form-check-label text-dark" for="">
                                    Under ₹50000
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="price" value="500000" checked hidden>
                            </div>
                        </div>

                        {{!-- <div class="mb-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
                            <label for="s_sm" class="d-flex">
                                <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">Small
                                    (2,319)</span>
                            </label>
                            <label for="s_md" class="d-flex">
                                <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">Medium
                                    (1,282)</span>
                            </label>
                            <label for="s_lg" class="d-flex">
                                <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">Large
                                    (1,392)</span>
                            </label>
                        </div> --}}

                        {{!-- <div class="mb-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
                            <a href="#" class="d-flex color-item align-items-center">
                                <span class="bg-danger color d-inline-block rounded-circle mr-2"></span> <span
                                    class="text-black">Red (2,429)</span>
                            </a>
                            <a href="#" class="d-flex color-item align-items-center">
                                <span class="bg-success color d-inline-block rounded-circle mr-2"></span> <span
                                    class="text-black">Green (2,298)</span>
                            </a>
                            <a href="#" class="d-flex color-item align-items-center">
                                <span class="bg-info color d-inline-block rounded-circle mr-2"></span> <span
                                    class="text-black">Blue (1,075)</span>
                            </a>
                            <a href="#" class="d-flex color-item align-items-center">
                                <span class="bg-primary color d-inline-block rounded-circle mr-2"></span> <span
                                    class="text-black">Purple (1,075)</span>
                            </a>
                        </div> --}}

                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="site-section">
    <div class="container">
        <div class="title-section mb-5">
            <h2 class="text-uppercase"><span class="d-block">Discover</span> The Collections</h2>
        </div>
        <div class="row align-items-stretch">
            <div class="col-lg-8">
                <div class="product-item sm-height full-height bg-gray">
                    <a href="#" class="product-category">Women <span>25 items</span></a>
                    <img src="images/model_4.png" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-item sm-height bg-gray mb-4">
                    <a href="#" class="product-category">Men <span>25 items</span></a>
                    <img src="images/model_5.png" alt="Image" class="img-fluid">
                </div>

                <div class="product-item sm-height bg-gray">
                    <a href="#" class="product-category">Shoes <span>25 items</span></a>
                    <img src="images/model_6.png" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('input[name=categoryName]').change(function () {
        $.ajax({
            url: '/products/filter',
            method: 'post',
            data: $('#productFilter').serialize(),
            success: (isResult) => {
                if (isResult) {
                    $('#pdtsss').load(location.href + " #pdtsss")
                }
            }
        })
    });

    $('input[name=price]').change(function () {
        $.ajax({
            url: '/products/filter',
            method: 'post',
            data: $('#productFilter').serialize(),
            success: (response) => {
                if (response) {
                    $('#pdtsss').load(location.href + " #pdtsss")
                }
            }
        })
    })

    $('#sortProducts').on('change', function () {
        $.ajax({
            url: '/products/filter',
            method: 'post',
            data: $('#productFilter').serialize(),
            success: (response) => {
                if (response) {
                    $('#pdtsss').load(location.href + " #pdtsss")
                }
            }
        })
    })
</script>