<section class="vh-100 ">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://img.freepik.com/free-vector/cycling-design-with-mountain-background-badge-logo-other_157713-319.jpg?w=2000"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-5">
        <form action="/signup" method="post">
          <h2 class="text-dark text-center pb-4">SIGNUP</h2>
          
          <!-- Name input -->
          <div class="form-outline mb-4 pt-4">
            <label class="form-label" for="form3Example3">Name</label>
            <input type="text" name="name" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter your name here" />
          </div>
          <!-- Email input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example3">Email address</label>
            <input type="email" name="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
              {{#if exists}}
              <p class="text-danger">Email already exists</p>
              {{/if}}
          </div>
          <!-- number input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example3">Mobile Number</label>
            <input type="number" name="phone" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter your mobile number" />
          </div>
          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" name="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">REGISTER</button>
            <p class="fw-bold mt-2 pt-1 mb-5">Already have an account? <a href="/login"
                class="link-danger">Login here</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fa fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fa fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>